* {
    padding: 0;
    margin: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 20px;
} 

table thead tr th {
    background-color: rgb(62, 62, 255);
    padding: 30px;
    border: 1px solid black;
    color: white;
}
table tbody tr td {
    background-color: rgb(255, 255, 255);
    padding: 40px;
    border: 1px solid black;
}