body {
    background: rgb(255, 255, 255);
    margin: 0;
}
h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
}
.box {
    display:flex; 
    flex-direction: column;  
    background-color: rgb(62, 62, 255); 
    width: 50%; 
    height: 500px; 
    padding: 15px; 
    justify-content: flex-end;
}
#box-input {
    display: grid;
    height: 50%;
    align-items: end;
}

#rsChat {
    height: 50%;
}

.input {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
}
input {
    flex: 1;
    min-height: 2vw;
}

button {
    flex: 0.4;
    min-height: 2vw;
}

.result {
    width: 100%;
}